@font-face {
  font-family: 'abelregular';
  src: url("../fonts/abel-regular-webfont.woff2") format("woff2"), url("../fonts/abel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_code_probold';
  src: url("../fonts/sourcecodepro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcecodepro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_code_probold_italic';
  src: url("../fonts/sourcecodepro-boldit-webfont.woff2") format("woff2"), url("../fonts/sourcecodepro-boldit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_code_proitalic';
  src: url("../fonts/sourcecodepro-it-webfont.woff2") format("woff2"), url("../fonts/sourcecodepro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_code_proregular';
  src: url("../fonts/sourcecodepro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcecodepro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.navbar {
  margin-top: 140px;
  margin-bottom: 100px; }
  .navbar .navbar-header {
    text-align: center; }
    .navbar .navbar-header img {
      position: absolute;
      left: 50%;
      top: -45px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .navbar .navbar-header .navbar-toggle {
      float: none;
      border: none;
      margin-right: 0; }
      .navbar .navbar-header .navbar-toggle:focus, .navbar .navbar-header .navbar-toggle:hover {
        background: none; }
      .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #FFF;
        height: 3px; }
      .navbar .navbar-header .navbar-toggle .icon-bar:nth-of-type(2) {
        top: 1px; }
      .navbar .navbar-header .navbar-toggle .icon-bar:nth-of-type(3) {
        top: 2px; }
      .navbar .navbar-header .navbar-toggle .icon-bar {
        position: relative;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear; }
      .navbar .navbar-header .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .navbar .navbar-header .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar .navbar-header .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -7px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .navbar .navbar-header .navbar-brand {
      color: #FFF;
      font-size: 20px;
      position: absolute;
      left: 50%;
      top: -30px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: 0 !important; }
  .navbar .navbar-nav {
    display: inline-block;
    float: none; }
  .navbar .navbar-collapse {
    text-align: center;
    border: none; }
  .navbar.navbar-default {
    border: none;
    background: none;
    text-align: center; }
    .navbar.navbar-default ul li:nth-child(3) {
      /* margin-right:50px;*/ }
    .navbar.navbar-default ul li:nth-child(4) {
      /* margin-left:50px;*/ }
    .navbar.navbar-default ul li a {
      font-size: 12px;
      color: #FFF;
      text-transform: uppercase; }
      .navbar.navbar-default ul li a:hover {
        color: #00ccff; }

.actionbar {
  background-color: rgba(0, 0, 0, 0.7); }
  .actionbar .action {
    list-style: none;
    margin: 0;
    padding: 0; }
    .actionbar .action li {
      display: inline-block;
      padding: 0;
      margin: 0; }
      .actionbar .action li a {
        color: #FFF;
        display: inline-block;
        padding: 10px 14px; }

body {
  background-color: #000;
  color: #FFF;
  font-family: 'source_code_proregular', sans-serif; }

h1 {
  font-family: 'abelregular', sans-serif;
  font-size: 43px; }

.content-padding, #intro,
#about,
#team {
  padding: 200px 0 200px 0; }

#intro h1,
#about h1,
#team h1 {
  text-align: center;
  margin-bottom: 20px; }
#intro p,
#about p,
#team p {
  text-align: center; }

.interiorheader {
  background: url(../img/start-animate-flip.jpg) center top no-repeat;
  position: absolute;
  top: -50px;
  left: 50%;
  z-index: -100;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  /* @include img-cover();*/ }

#navi {
  padding-top: 0px;
  width: 100%;
  z-index: 1000;
  position: relative;
  overflow: hidden; }
  #navi .actionbar {
    position: relative;
    z-index: 2;
    font-family: 'abelregular', sans-serif;
    text-transform: uppercase; }
  #navi nav {
    position: relative;
    z-index: 3; }
  #navi .intro-vid {
    width: 100%;
    overflow-x: hidden; }
    #navi .intro-vid #bgvid {
      position: absolute;
      top: -50px;
      left: 50%;
      z-index: -100;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }

#intro {
  padding-top: 0px;
  width: 100%;
  z-index: 1000;
  position: relative;
  overflow: hidden; }
  #intro .actionbar {
    position: relative;
    z-index: 2; }
  #intro nav {
    position: relative;
    z-index: 3; }
  #intro .intro-vid {
    width: 100%;
    overflow-x: hidden; }
    #intro .intro-vid #bgvid {
      position: absolute;
      top: -50px;
      left: 50%;
      z-index: -100;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }

#about {
  background: linear-gradient(black, #0e253a); }

#team {
  background: linear-gradient(#0e253a, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), black), url(../img/bg-team.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #team .member-area {
    margin-top: 30px;
    overflow: auto; }
    #team .member-area .extra-info {
      overflow: hidden;
      height: 0px;
      background-color: rgba(0, 0, 0, 0.4);
      transition: height, .5s;
      text-align: center; }
      #team .member-area .extra-info .extra-content {
        padding: 50px 0; }
      #team .member-area .extra-info .name {
        font-family: 'abelregular', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        color: #00ccff;
        font-weight: normal; }
      #team .member-area .extra-info .close-btn {
        color: #CCC;
        padding: 20px;
        cursor: pointer;
        font-size: 20px;
        display: inline-block; }
      #team .member-area .extra-info .title {
        font-family: 'abelregular', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        color: #FFF;
        margin-bottom: 15px; }
      #team .member-area .extra-info .attributes {
        text-transform: uppercase;
        color: #00ccff;
        display: inline-block; }
        #team .member-area .extra-info .attributes:after {
          content: " / "; }
        #team .member-area .extra-info .attributes:last-child:after {
          content: ""; }
      #team .member-area .extra-info .label {
        text-transform: uppercase;
        color: #00ccff;
        font-size: 14px; }
    #team .member-area .member {
      display: block;
      border: 1px solid transparent;
      padding: 30px;
      text-align: center;
      margin-bottom: 30px;
      border-radius: 8px;
      text-decoration: none;
      -webkit-transition: border-color, .2s;
      transition: border-color, .2s;
      transition: background, .2s; }
      #team .member-area .member.active {
        box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.7);
        background: rgba(0, 0, 0, 0.2);
        cursor: pointer; }
        #team .member-area .member.active img {
          border-color: #00ccff;
          border-width: 4px; }
      #team .member-area .member .extra {
        display: none; }
      #team .member-area .member:hover {
        cursor: pointer; }
        #team .member-area .member:hover img {
          border-color: #00ccff;
          border-width: 4px; }
      #team .member-area .member .title {
        font-family: 'abelregular', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        color: #FFF; }
      #team .member-area .member .name {
        font-family: 'abelregular', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        color: #00ccff;
        font-weight: normal; }
      #team .member-area .member .star {
        margin-top: 15px;
        display: block;
        height: 30px; }
        #team .member-area .member .star.gold {
          background: url(../img/img-star-gold.png) center no-repeat; }
        #team .member-area .member .star.silver {
          background: url(../img/img-star-silver.png) center no-repeat; }
        #team .member-area .member .star.bronze {
          background: url(../img/img-star-copper.png) center no-repeat; }
      #team .member-area .member img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 8px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        transition: border-color, .2s;
        transition: border-width, .2s; }

#shop {
  height: 3000px; }

.bbpress #intro {
  padding-bottom: 0; }
  .bbpress #intro .navbar {
    padding-bottom: 0; }
