// colors
$black            :#000;
$white            :#FFF;
// $blue-elec        :#61fbf7;
$blue-elec        :#00ccff;
$blue-dark        :#225a8c;
$grey-mid         :#333;
$grey-light       :#CCC;
$blue-midnight    :#0e253a;
$green          :green;
