div.woocommerce-message{
    border-top-color: $blue-elec;
    padding:10px 10px 10px 50px !important;
    background-color: darken($grey-mid, 30%);
    color:$blue-elec;
    &::before{
        top:15px;
    }
    p{
        line-height:31px;
        margin-bottom:0;
    }
}

.woocommerce-info{
    background:none;
    color:$white;
}
#cart{
    padding-top: 300px;
    .actions{
        .btn{
            padding:12px 15px;
        }
        padding-right:30px;
    }
    input.btn[type="submit"]:disabled {
        display:none;
    }
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
        width:100%;
        float:none;
    }
    .form-control{
        background-color:$forum-grey;
        border-color:$grey-mid;
        color:$blue-elec;
    }

}
#shop{
    background:
        linear-gradient( rgba( $black, 1 ),rgba( $black, 0.9 ),rgba( $black, 1 ) ),
        url(../img/bg-shop.jpg) fixed;
    @include img-cover;
    p{
        margin-bottom:30px;
    }
    .item{
        display:block;
        margin-bottom:30px;
        padding:15px;
        // background-color: darken($blue-midnight, 40%);
        // box-shadow: inset 0 0 30px darken($blue-elec,20%) ;
        background: #14283d; /* Old browsers */
        background: -moz-linear-gradient(top,  #14283d 0%, #0b1521 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #14283d 0%,#0b1521 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #14283d 0%,#0b1521 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14283d', endColorstr='#0b1521',GradientType=0 ); /* IE6-9 */

        border-radius:4px;
        border:1px solid darken($blue-elec, 35%);
        .woocommerce-LoopProduct-link{
            text-decoration: none;
        }

        h3{
            color:$white;
            font-family: 'abelregular', sans-serif;
            text-transform: uppercase;

        }
        .price{
            color:$blue-elec;
        }
        .add_to_cart_button{
            display:none;
        }
        img{
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    .summary{
        float:none;
        width:100%;
    }
    .product-item{

    }
    .images{
        .thumbnails{
            display:none;
        }
        img{
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    .product_title{
        font-size:20px;
    }
}
#shop-product{
    padding-top: 300px;
    .woocommerce-breadcrumb{
        text-transform: uppercase;
        a{
            color:$blue-elec;

        }
    }
    .variations .label{
        font-size:100%;
    }
    .button{
        background-color: $blue-dark;
        color:$white;
    }
    .form-control{
        background-color:$forum-grey;
        border-color:$grey-mid;
        color:$blue-elec;
        margin-bottom:15px;
    }
    .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
        float:none;
        width:100%;
    }
    .thumbnails{
        background-color: darken($grey-mid, 5%);
        border:1px solid $grey-mid;
        padding:10px;
        overflow:auto;
        margin-top:15px;
        // max-width:40px;
        border-radius: 4px;
        a{
            border:1px solid $blue-elec;
            &:last-child{
                margin-right:0;
            }
            margin-right:5px;
            img{
                max-width:40px;
            }
            float:left;
        }
    }
    .cart-add{
        width:200px;
        input[type="number"]{
            border-radius:4px 0 0 4px;
            border:1px solid $blue-midnight;
        }
    }
    .product_title.entry-title{
        color:$white;
        font-size:32px;
        text-transform: uppercase;
        margin-top:0;

    }
    .summary{
        h2{
            color:$white;
            font-size:16px;
        }
        p{
            color:$grey-light;
            padding:10px;
            background-color: darken($grey-mid, 10%);
            border-radius:4px;
        }
        .price{
            color:$blue-elec;
            font-size:18px;
            padding:0;
            background:none;
        }
    }

}
#checkout{
    .woocommerce-checkout-payment{
        background-color: $white;
        color:$grey-mid;
        .about_paypal{
            margin-left:15px;
        }
    }
    label{
        text-align:left;
    }
    .login{
        border-color:$blue-elec;
    }
    .woocommerce-billing-fields{
        .create-account{
            text-align:left;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    select,
    textarea,
    .select2-choice{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        background-color:$forum-grey;
        border-color:$grey-mid;
        color:$blue-elec;
    }
    textarea{
        min-height:100px;
    }

}
#account{
    text-align:left;
    p{
        text-align:left;
    }
    .woocommerce{
        fieldset{
            margin-top:30px;
            legend{
                color:$white;
                padding-bottom:15px;
                border-color:$blue-elec;
                font-size:16px;
            }
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        select{

            background-color:$forum-grey;
            border-color:$grey-mid;
            color:$blue-elec;
        }
        .login{
            border-color:$blue-elec;
        }
    }
    .edit-account{
        fieldset{
            margin-top:30px;
            legend{
                color:$white;
                padding-bottom:15px;
                border-color:$blue-elec;
                font-size:16px;
            }
        }
        input[type="text"],
        input[type="email"],
        input[type="password"]{
            background-color:$forum-grey;
            border-color:$grey-mid;
            color:$blue-elec;
        }
    }
}
