@import '_mixins';
@import '_fonts';
@import 'palette';
@import '_nav';
@import "_mq";
@import '_calendar';
@import '_bbpress';
@import '_frontier';

body{
    background-color:#000;
    font-family: 'source_code_proregular', sans-serif;
    position:relative;
    overflow-x:hidden;
}
h1{

    font-family: 'abelregular', sans-serif;
    font-size:43px;
}
.content-padding{
    padding:200px 0 200px 0;
}
.btn-primary{
    background-color:$blue-elec;
}
#intro,
#about,
#team,
#shop,
#schedule,
#news,
#irl
{
    color:#FFF;
    @extend .content-padding;
    h1{
        text-align:center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    p{
        text-align:center;
    }
}
.interiorheader{
    background:url(../img/start-animate-flip.jpg) center top no-repeat;
    position: absolute;
    top:0;
    left: 50%;
    z-index: -100;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 300px;
    width:100%;
}
#bgvid{
    position: absolute;
    top:0px;
    left: 50%;
    // width:100%;
    width:1400px;
    max-width:1400px;
    z-index: -1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
#navi{
    padding-top: 0px;
    width:100%;
    background-color: rgba(0,0,0,0.8);
    z-index:99999;
    position:relative;
}
#intro{
    padding-top: 300px;
    width:100%;
    overflow:hidden;
    padding-bottom:400px;
    >.container{
        position:relative;
    }
    .actionbar{
        position:relative;
        z-index:2;
    }
    nav{
        position:relative;
        z-index:3;
    }
    .callout{
        text-align:center;
        margin-top:30px;
        .team{
            border:1px solid $white;
            background:none;
            padding:20px 30px;
            font-size:18px;
            border-radius:0;
            transition: background-color , .2s;
            &:hover{
                background-color: rgba($blue-midnight, 0.5);
                box-shadow:0px 0px 25px $blue-elec;
            }
        }
    }
}

footer{
    // height:400px;
    // background: linear-gradient( rgba($black, 0.0), rgba($black, 0.5) );

}
#about{
    margin-top:-200px;
    padding:300px 0 300px 0;
    background:
        linear-gradient( rgba( $black, 1 ), rgba( $black, 0.70 ), rgba( $black, 1 ) ),
        url(../img/bg-team-1.jpg) center center fixed;
        @include img-cover();
}
#team{
    background:
        linear-gradient(rgba($black,1),rgba($black,0.70),rgba($black,0.70),rgba($black,1)),
        url(../img/bg-team-1.jpg) center center;
    @include img-cover();
    .member-area{
        margin-top:30px;
        .extra-info-container{
            overflow:hidden;
            height: 0;
            background-color: rgba($black, 0.4);
            transition: height, .5s;
            text-align:center;
            .extra-content{
                padding:50px 0;
                .name{
                    font-family: 'abelregular', sans-serif;
                    text-transform: uppercase;
                    font-size:22px;
                    color:$blue-elec;
                    font-weight:normal;
                }
                .close-btn{
                    color:$grey-light;
                    padding:20px;
                    cursor: pointer;
                    font-size:20px;
                    display:inline-block;
                }
                .title{
                    font-family: 'abelregular', sans-serif;
                    text-transform: uppercase;
                    font-size:16px;
                    color:$white;
                    margin-bottom:15px;
                }
            }
            .attributes-content{
                .attributes{
                    padding:50px 0;
                    text-transform: uppercase;
                    color:$blue-elec;
                    display:inline-block;
                    &:after{
                        content:" / ";
                    }
                    &:last-child:after{
                         content:"";
                    }
                    .label{
                        text-transform: uppercase;
                        color:$blue-elec;
                        font-size:14px;
                    }
                }
            }
        }
        .member{
            display:block;
            border:1px solid rgba(0,0,0,0);
            padding:30px;
            text-align:center;
            margin-bottom:30px;
            border-radius:8px;
            text-decoration:none;
            -webkit-transition:border-color, .2s;
            transition: border-color, .2s;
            transition: background, .2s;
            &.active{
                box-shadow: inset 0px 0px 12px rgba(0,0,0,0.7);
                background:rgba(0,0,0,0.2);
                cursor: pointer;
                img{
                    border-color: $blue-elec;
                    border-width:4px;
                }
            }
            .extra{
                display: none;
            }
            &:hover{
                cursor: pointer;
                img{
                    border-color: $blue-elec;
                    border-width:4px;
                }
            }
            .title{
                font-family: 'abelregular', sans-serif;
                text-transform: uppercase;
                font-size:16px;
                color:$white;
            }
            .name{
                font-family: 'abelregular', sans-serif;
                text-transform: uppercase;
                font-size:22px;
                color:$blue-elec;
                font-weight:normal;
            }
            .star{
                margin-top:15px;
                display:block;
                height:30px;
                &.gold{background:url(../img/img-star-gold.png) center no-repeat;}
                &.silver{background:url(../img/img-star-silver.png) center no-repeat;}
                &.bronze{background:url(../img/img-star-copper.png) center no-repeat;}
            }
            img{
                display:block;
                margin:0 auto;
                border-radius:50%;
                width:150px;
                height:150px;
                border:8px solid rgba(0,0,0,0.20);
                margin-bottom:30px;
                transition: border-color, .2s;
                transition: border-width, .2s;
            }
        }
    }
}
#shop{
    // height:3000px;
}

.bbpress{

    #intro{
        padding-bottom:0;
        .navbar{
            padding-bottom:0;
        }

    }
}
#schedule{
    // margin-top:200px;
    h1{
        text-transform: uppercase;
        text-align: center;
        margin-bottom:10px;
    }
}
#forums{
    text-align: left;
    margin-top:200px;
    h1{
        color:$white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom:10px;
    }
}
#news{
    // margin-top:200px;
    text-align:center;
    h1{
        text-transform: uppercase;
    }
    .post{
        padding:30px 30px 15px 30px;
        border-bottom:1px solid #333;
        &:first-child{
            margin-top:50px;
        }
        &:last-child{
            margin-bottom:50px;
            // border-bottom:1px solid #333;
        }
        .title{
            font-family: 'abelregular', sans-serif;
            text-transform: uppercase;
            font-size:30px;
            margin-bottom:15px;
            // border-bottom:1px solid $white;
            padding-bottom:15px;
        }
        .date{
            text-transform: uppercase;
            color:$blue-elec;
            margin-bottom:30px;
        }
        .content{
            .post-embed{
                margin-bottom:15px;
            }
            p{
                margin-bottom:15px;
            }
            text-align:left;
        }
        img{
            display: block;
            max-width: 100%;
            height: auto;
        }

    }
}
#irl{
    margin-top:200px;
    text-align:center;
    h1{
        text-transform: uppercase;
    }
    .date{
        font-size:12px;
        margin-bottom:20px;
        color:$blue-elec;
    }
    .toggle-add{
        // background-color: $grey-mid;
        margin-bottom:30px;
        padding:10px;
        button{
            border:1px solid $blue-elec;
            border-radius:0;
            background:none;
            padding:10px 20px;
        }
    }
}
